body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}


.detalle-container {
    padding: 4vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #3a0d55, #0d021a);
}


.detalle-contenido {
    display: flex;
    align-items: flex-start;
    gap: 3vw;
    margin-bottom: 3vh;
    width: 100%;
    max-width: 1000px;
    justify-content: center;
}

.detalle-imagen-wrapper {
    flex: 0 0 250px;
    display: flex;
    justify-content: flex-end;
}


.detalle-imagen {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.detalle-info {
    flex: 1;
    font-size: 30px;
    text-align: left;
    margin-top: 20px;
}

.detalle-info h1 {
    color: #a855f7;
    font-size: 64px;
    font-weight: bold;
}

.detalle-top {
    display: flex;
    align-items: flex-start;
}

.label {
    color: #a855f7;
    font-weight: bold;
    font-size: 28px;
}

.detalle-info h1 {
    margin-bottom: 1vh;
}

.detalle-sinopsis {
    max-width: 60%;
    margin: 3vh auto;
    text-align: center;
    font-size: 24px;
    margin-bottom: 100px;
}

.detalle-btn {
    padding: 10px 25px;
    font-size: 24px;
    margin-left: 300px;
    border: none;
    background-color: #802ab3;
    color: white;
    border-radius: 8px;
    margin-bottom: 3vh;
    align-items: right;
    cursor: pointer;
}

.detalle-btn:hover {
    background-color: #b950f7;
}

.star-filled {
    color: #ae70d1;
    font-size: 28px;
}

.star-empty {
    color: #ccc;
    font-size: 28px;
}

.detalle-reseñas {
    width: 100%;
    max-width: 800px;
    margin-top: 4vh;
}

.detalle-reseñas h3 {
    margin-bottom: 2vh;
    text-align: center;
}

.reseña-wrapper {
    margin-bottom: 3vh;
}

.reseña-usuario {
    display: block;
    font-weight: bold;
    text-align: left;
    margin-left: 100px;
}

.reseña-exterior {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: relative;
}

.reseña-foto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.reseña-item {
    background-color: #dbd0e4;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.reseña-item:hover {
    background-color: #b5b1b8;
}

.reseña-cuerpo p {
    margin: 0;
    color: #333;
    font-weight: bold;
}

.reseña-like {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #ccc;
}

/* 
h1 {
    color: #a855f7;
    font-size: 72px;
} */

.detalle-sinopsis h2 {
    color: #a855f7;
    font-size: 54px;
    font-weight: bold;
    margin-top: 50px;
}

.detalle-top h3 {
    font-size: 50px;
    font-weight: bold;
    margin-right: 100px;
}







.detalle-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star-filled {
    color: rgb(136, 48, 236);
    font-size: 24px;
}

.detalle-favorito .star-filled {
    color: gold;
    font-size: 45px;
}

.detalle-favorito .star-filled:hover {
    color: rgb(209, 121, 21);
    transform: scale(1.3);
}

.star-empty {
    color: gray;
    font-size: 24px;
}

.detalle-favorito .star-empty {
    color: gray;
    font-size: 45px;
}

.detalle-favorito .star-empty:hover {
    color: rgb(66, 59, 59);
    transform: scale(1.3);
}

.detalle-botones {
    display: flex;
    gap: 10px;
}

.detalle-favorito, .detalle-editar {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.detalle-editar {
    font-size: 30px;
    color: #555;
}

.detalle-editar:hover,
.detalle-favorito:hover span {
    transform: scale(1.3);
}